@use "variables" as var;
@use "base";

:root {
  --new-color: red;
}

@mixin btn($bgcolor, $txtcolor: var.$light-text) {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: var.$bgcolor;
  margin: 3px;
  color: $txtcolor;
}

.btn {
  @include btn(var.$light-text);

  &Primary {
    background-color: var.$primary-color;
  }
}

%bton {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin: 3px;
}

.btnSubmit {
  @extend %bton;
  background-color: var.$submit-color;
  color: var.$dark-text;
  // color: var(--new-color);
}

.btnSecondary {
  @extend %bton;
  background-color: var.$secondary-color;
  color: var.$light-text;
}

// .btnPrimary {
//   @include btn($bgcolor: $primary-color);
// }

// .btnSecondary {
//   @include btn($bgcolor: $secondary-color);
// }

// .btnSubmit {
//   @include btn($bgcolor: $submit-color, $txtcolor: $dark-text);
// }

.btnSuccess__newButton_active {
  background-color: aliceblue;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}
